.container {
    text-align: center;
    height: 80vh;
}

.img_container {
    margin-top: 15vh;
}

.img {
    border-radius: 200px;
    width: 15rem;
}

.title {
    font-size: 1.7rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.2rem;
}

/* iPhone 8 */
@media (max-width: 375px) {
    .img {
        width: 13rem;
    }
}