.container {
    margin-top: 10vh;
    text-align: center;
}

.title {
    font-size: 1.7rem;
    margin-bottom: 10vh;
}

.button {
    padding: .3rem 2.5rem;
    cursor: pointer;
}

.buttonContainer {
    margin-top: 3rem;
}